set showmode
set linenumber
set showcmd
set visualbell

set ignorecase
set smartcase
set incsearch
set hlsearch
set highlightedyank

set surround

let mapleader = " "

map <leader>r <Action>(RenameElement)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)

vmap gh <Action>(Vcs.ShowHistoryForBlock)
vmap gb <Action>(Git.CompareWithBranch)
vmap lh <Action>(LocalHistory.ShowSelectionHistory)
vmap ai <Action>(copilot.chat.inline)

nmap K <Action>(ShowHoverInfo)
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(FindUsages)
nmap gs <Action>(GotoTest)
nmap gf <Action>(Forward)
nmap gb <Action>(Back)
nmap gt <Action>(NextTab)
nmap gT <Action>(PreviousTab)
nmap ge <Action>(GotoNextError)

